---
import '../../styles/global.css'
import { getCollection } from 'astro:content';
import MarkdownRenderer from '../../components/MarkdownRenderer';

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection('blog');
  return blogEntries.map(entry => ({
    params: { slug: entry.slug }, 
    props: { entry },
  }));
}

// 2. Get the entry data from props
const { entry } = Astro.props;
const { title, author, pubDate } = entry.data;

/* 
  In Astro, 'entry.body' contains the raw Markdown string 
  which we pass to the React component.
*/
---

<html>
  <body class="text-white  min-h-screen flex flex-col  " >
    <header class="fixed top-0 right-0 p-4">
      <nav class="space-x-4">
        <a class="hover:underline" href="/">Home</a>
        <a class="hover:underline" href="/about">About</a>
      </nav>
    </header>

    <main class="flex-1 pt-20 ">
      <MarkdownRenderer
        client:load 
        title={title}
        author={author}
        date={pubDate}
        content={entry.body}
      />
    </main>
  <footer>
      <div class="p-4 w-full flex justify-center mb-4">
          <a href="https://github.com/tlsenz">
          <img src=../../../public/social.png alt="Logo" class="w-8 h-8 "/>
          </a>
      </div>
  </footer>
  </body>
</html>
