@import "tailwindcss"; 
@import url('https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400..700;1,400..700&display=swap');

@plugin "@tailwindcss/typography";

@theme {
  --color-background: #000000;
  --color-foreground: #ffffff;
}

@layer base {
  html, body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    min-height: 100vh;
    margin: 0;
  }

  h1, h2, h3, h4 {
    color: var(--color-foreground);
  }
}
